/* 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol {list-style: none;}
a {text-decoration: none; color: inherit;}

img {
    border: 0;
    vertical-align: top;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
strong {
    font-weight: bold;
}

/* Common */
#wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #191919;
}

/* Header */
header {
    position: fixed;
    top: 0;
    z-index: 500;
    font-size: 14px;
    -webkit-letter-spacing: -0.4px;
    -moz-letter-spacing: -0.4px;
    -ms-letter-spacing: -0.4px;
    letter-spacing: -0.4px;
    width: 100%;
    height: 72px;
    padding: 0 4%;
}
header > .logo {
    float: left;
}
header > .logo > a {
    position: relative;
    z-index: 10001;
    float: left;
    width: 99px;
    height: 72px;
}
header > .logo > a > img {
    padding: 10px;
}
header > .member {
    float: right;
}
header > .member > a {
    display: inline-block;
    color: #121218;
    font-size: 13px;
    font-weight: 700;
    -webkit-letter-spacing: -0.4px;
    -moz-letter-spacing: -0.4px;
    -ms-letter-spacing: -0.4px;
    letter-spacing: -0.4px;
    line-height: 21px;
    width: 100%;
    padding: 10px 14px;
    border-radius: 4px;
    background: #fff;
    -webkit-letter-spacing: -0.3px;
    -moz-letter-spacing: -0.3px;
    -ms-letter-spacing: -0.3px;
    letter-spacing: -0.3px;
    padding: 5px 18px 6px;
    border-radius: 40px;
    margin: 23px 0 0;
}

/* Footer */
footer {
    position: absolute;
    right: 0;
    bottom: 1.3888888888888888vw;
    left: 0;
    z-index: 100;
    color: rgba(255,255,255,0.35);
    font-size: 0.7vw;
    font-weight: 400;
    -webkit-letter-spacing: -0.034722222222222224vw;
    -moz-letter-spacing: -0.034722222222222224vw;
    -ms-letter-spacing: -0.034722222222222224vw;
    letter-spacing: -0.034722222222222224vw;
    text-align: center;
    padding: 0 3.4vw;
}
footer > div {
    text-align: center;
}
footer > div > span {
    display: inline-block;
    position: relative;
    vertical-align: top;
}
footer > div > span > strong {
    color: rgba(255, 255, 255, 0.65);
    text-decoration: none;
}

/* Index-Page */
main {width: 100%;}
main > .indicator {
    position: fixed;
    top: 50%;
    right: 50px;
    z-index: 499;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
main > .indicator > li {
    display: block;
    background-color: #FFFFFF;
    width: 1.25vw;
    height: 1.25vw;
    border-radius: 50%;
    margin: 0 0 1.1111111111111112vw;
    opacity: 0.2;
    cursor: pointer;
}
main > .indicator > li.on {
    background-color: rgb(255, 255, 255);
    width: 1.25vw;
    height: 1.25vw;
    opacity: 1;
    cursor: pointer;
    border-radius: 50%;
    margin: 0px 0px 1.11111vw;
}
main > .container {
    width: 100%;;
}
main > .container:after {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background: rgb(18, 18, 24);
}
main > .container > div {
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}
main > .container > div:nth-of-type(1) {
    background-image: url('../img/index_bg_img1.jpg');
}
main > .container > div:nth-of-type(2) {
    background-image: url('../img/index_bg_img2.jpg');
}
main > .container > div:nth-of-type(3) {
    background-image: url('../img/index_bg_img3.jpg');
}
main > .container > div:nth-of-type(4) {
    background-image: url('../img/index_bg_img4.jpg');
}
main > .container > div:nth-of-type(5) {
    background-image: url('../img/index_bg_img5.jpg');
}
main > .container > div > .text_box {
    position: relative;
    z-index: 100;
    text-align: center;
}
main > .container > div > .text_box > h2 {
    color: #fff;
    font-size: 3.4722222222222223vw;
    font-weight: 400;
    -webkit-letter-spacing: -0.24305555555555555vw;
    -moz-letter-spacing: -0.24305555555555555vw;
    -ms-letter-spacing: -0.24305555555555555vw;
    letter-spacing: -0.24305555555555555vw;
    line-height: 4.375vw;
    white-space: pre-wrap;
    margin-bottom: 1.1111111111111112vw;
}
main > .container > div > .text_box > h5 {
    color: #fff;
    font-size: 1.5277777777777777vw;
    font-weight: 400;
    -webkit-letter-spacing: -0.04861111111111111vw;
    -moz-letter-spacing: -0.04861111111111111vw;
    -ms-letter-spacing: -0.04861111111111111vw;
    letter-spacing: -0.04861111111111111vw;
    line-height: 2.2916666666666665vw;
    margin-bottom: 3.75vw;
    opacity: 0.65;
}
main > .container > div > .btn_start {
    position: relative;
    z-index: 100;
    text-align: center;
}
main > .container > div > .btn_start > a {
    display: inline-block;
    background-color: #EB0056;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 700;
    -webkit-letter-spacing: -0.1px;
    -moz-letter-spacing: -0.1px;
    -ms-letter-spacing: -0.1px;
    letter-spacing: -0.1px;
    line-height: 51px;
    text-align: center;
    width: 100%;
    height: 52px;
    border-radius: 26px;
    font-size: 1.3888888888888888vw;
    font-weight: 700;
    -webkit-letter-spacing: -0.0625vw;
    -moz-letter-spacing: -0.0625vw;
    -ms-letter-spacing: -0.0625vw;
    letter-spacing: -0.0625vw;
    line-height: 4.166666666666666vw;
    width: auto;
    min-width: 13.125vw;
    height: 4.166666666666666vw;
    padding: 0 1.5625vw;
    border-radius: 2.083333333333333vw;
}

/* .member 공통 */
main > .member_container {
    flex: 1;
}
main > .member_container:after {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background: rgb(18, 18, 24);
}
main > .member_container > div {
    height: 100vh;
    align-content: center;
}
main > .member_container > div > div {
    display: flex;
    position: relative;
    z-index: 1;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}
.member_box {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    width: 300px;
}
.member_box > .member_header {
    margin-bottom:  20px;
}
.member_box > .member_header > h3 {
    float: left;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -1px;
    flex: 1 1 0%;
}
/* .member_box > .member_header > span {
    float: right;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.4px;
    opacity: 0.5;
    padding: 5px 0px 0px;
} */
.member_box > form > ul.member_input {}

.member_input > li {
    position: relative;
    width: 100%;
}
.member_input > li > input {
    width: 100%;
    font-size: 16px;
    letter-spacing: -0.5px;
    line-height: normal;
    border-color: rgba(154, 151, 161, 0.2);
    padding: 15px 15px 12px 15px;
    border-top-width: 1px;
}
.member_input > li:first-child > input {
    border-radius: 5px 5px 0px 0px;
    border-top-width: 0;
}
.member_input > li:last-child > input {
    border-radius: 0px 0px 5px 5px;
    padding: 12px 15px 12px 15px;
}
.member_box > form > div.member_btn {
    width: 100%;
    padding: 20px 0px 18px 0;
    border-bottom: 1px solid rgba(154, 151, 161, 0.2);
}
.member_btn > button {
    background-color: rgb(235, 0, 86);
    color: rgb(255, 255, 255);
    font-weight: 700;
    letter-spacing: -0.1px;
    text-align: center;
    width: 100%;
    font-size: 16px;
    line-height: 45px;
    height: 48px;
    border-radius: 26px;
    opacity: 0.5;
    cursor: pointer;
}
.member_btn > button:hover {
    background-color: rgb(209, 46, 81);
    opacity: 0.8;
}
.member_box > form > p {
    color: #fff;
    font-size: 12px;
    -webkit-letter-spacing: -0.5px;
    -moz-letter-spacing: -0.5px;
    -ms-letter-spacing: -0.5px;
    letter-spacing: -0.5px;
    text-align: center;
    opacity: 0.5;
    padding-top: 10px;
}
/* Login-Page */
.login_bg {
    background-image: url('../img/login_bg_img.jpg');
}
/* register-Page */
.register_bg {
    background-image: url('../img/register_bg_img.jpg');
}
.member_checkbox {
    padding-top: 15px;
}
.member_checkbox > li {
    display: block;
    position: relative;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    padding: 2px 0 2px 7px;
    letter-spacing: -1px;
    cursor: pointer;
}
.member_checkbox > li > input {
    margin-right: 3px;
}
.member_checkbox > li > p {
    display: inline;
}
.member_checkbox > li > p > span:hover {
    font-weight: bold;
    text-decoration-line: underline;
    color: rgba(255, 255, 255, 0.8);
}

/* 프로필 페이지 */
#profile { width: 100vw; background: #191919; color: #fff; }
#profile .profile_wrapper { width: 40vw; margin: 0 auto; padding-top: 10vw; }
#profile h1 { text-align: center; font-size: 2.5vw; }
#profile section {
    display: inline-block;
    vertical-align: middle;
    margin-top: 1.5vw;
}
#profile .profile_left { width: 33%; text-align: center; padding: 0px 1vw; }
#profile .profile_right { width: 65%;}
.profile_left img { display: inline-block; width: 10vw; height: 10vw; border: 5px solid #777; border-radius: 50%; overflow: hidden; }
.profile_left button {
    width: 7vw;
    border: 1px solid #555;
    border-radius: .2vw;
    color: #999;
    font-size: .8vw;
    text-align: center;
    padding: .5vw;
    cursor: pointer;
    color: #555;
    background: #191919;
    margin-top: 1vw;
}
.profile_left button:hover {
    color: #999;
    border: 1px solid #999;
}
.profile_right h3 { font-size: 1.1vw; }
.profile_right input {
    width: 20vw;
    font-size: 1.1vw;
    padding: .3vw .2vw;
    margin: .8vw 0 .5vw;
}
.profile_right span { display: block; font-size: .7vw; color: #888;}
#profile div { width: 100%; }
.profile_bottom { margin-top: 2vw; padding: 2vw 2vw 0 14vw; border-top: 1px solid #777; }
.profile_bottom button {
    padding: .3vw .5vw;
    margin-right: .5vw;
    font-size: .8vw;
    background: #ddd;
    cursor: pointer;
}
.profile_bottom button:hover {
    background: #f24d4d;
}
